{% extends "base.html" %}
{% block content %}
<h2>Transactions</h2>

<table border="1">
<tr>
  <th>ID</th>
  <th>Customer</th>
  <th>Timestamp</th>
  <th>Channel</th>
  <th>Category</th>
  <th>Payment</th>
  <th>Status</th>
  <th>Gross</th>
  <th>Discount</th>
  <th>Tax</th>
  <th>Net</th>
</tr>

{% for t in transactions %}
<tr>
  <td>{{ t.transaction_id }}</td>
  <td>{{ t.customer_id }}</td>
  <td>{{ t.event_timestamp }}</td>
  <td>{{ t.channel }}</td>
  <td>{{ t.product_category }}</td>
  <td>{{ t.payment_method }}</td>
  <td>{{ t.status }}</td>
  <td>{{ "%.2f"|format(t.gross_amount) }}</td>
  <td>{{ "%.2f"|format(t.discount_amount) }}</td>
  <td>{{ "%.2f"|format(t.tax_amount) }}</td>
  <td>{{ "%.2f"|format(t.net_amount) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
